
@media only screen and (max-width: 547px) {

.showMob {display: inline!important; max-height: none !important; height: auto!important; width: 100%!important; margin: 0 0 0 0 !important;}

.nomob547 {
	display: none !important;
}
.text-center {
	text-align: center !important;
}

.maxWidth119 {
	max-width:119px !important;
	display: block !important;
	margin:auto;
	background-color:#03F !important;
}

}