{% macro declare(moduleData) -%}



<!-- hero title start -->
 <tr>
  <td class="one-column module-outer"  valign="top" bgcolor="#fcde0f" style="background-color:#fcde0f">
    <table border="0" cellspacing="0" cellpadding="0" width="100%" >
      <tr>
              <td class="module-inner contents hero" align="left" bgcolor="#fcde0f" valign="top" style="text-align:left;">{{moduleData.heading|safe}}
              <br/></td>
       </tr>
         {% for txt in moduleData.txt -%}
       <tr>
           <td class="module-inner contents global-copy" align="left" bgcolor="#fcde0f" valign="top" style="text-align:left;">{{txt.paragraph|safe}}<br/><br/></td>
       </tr>
           {% endfor %}
    </table>
  </td>
</tr>
<!-- hero title end -->


<!--  start -->
<tr>
  <td class="full-width-image" align="left" valign="top" style="padding:0"><img src="{{moduleData.src}}" alt="{{moduleData.alt}}" width="{{moduleData.width /2}}" height="auto" /></td>
</tr>
<!--  end -->

 <!-- buffer start -->
    <tr>
        <td class="one-column" valign="top" bgcolor="#fcde0f" style="background-color: #fcde0f; padding: 10px 35px 15px 35px;">
            <table border="0" cellspacing="0" cellpadding="0" width="100%" >
                <tr>
                    <td class="module-inner contents" align="left" bgcolor="#fcde0f" valign="top"></td>
                </tr>

            </table>
        </td>
    </tr>
    <!--  buffer end -->


    <!--  divider start -->
    <tr>
        <td class="full-width-image" align="left" valign="top" style="padding:0"><img src="https://firebasestorage.googleapis.com/v0/b/ngdataformdemo.appspot.com/o/white-border.png?alt=media&token=9cea976f-39bf-4a2a-9625-b3f8b0e9604d" alt="" width="100%" height="auto"></td>
    </tr>
    <!--  divider end -->


{% endmacro %}
