/* INLINE RESET STYLES */
img {
  border: 0;
  height: auto;
  line-height: 100%;
  outline: none;
  text-decoration: none;
  display: block; }

body {
  height: 100% !important;
  margin: 0 auto !important;
  padding: 0 !important;
  width: 100% !important; }

/* EMAIL SPECIFIC */
body {
  background-color: #f3f3f3 !important;
  font-family: Verdana, Arial, sans-serif; }

/* defined colour bg full width for ?? http://tabletrtd.com/background-color-on-entire-email/ */
table {
  font-family: sans-serif;
  color: #1c3160; }

/* does blue links hack the above make this unnecessary?: */
.appleLinksBlue a {
  color: #1c3160 !important;
  text-decoration: none; }

.container {
  width: 100%;
  table-layout: fixed;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background-color: #f3f3f3; }

.webkit {
  max-width: 600px;
  margin: 0 auto; }

.main-table {
  Margin: 0 auto;
  width: 100%;
  max-width: 600px;
  border-spacing: 0;
  background-color: #ffffff; }

.module-outer {
  padding: 25px 35px 25px 35px; }

.module-inner {
  padding: 6px 0 6px 0; }

.button-inner {
  padding: 10px 0 15px 0; }

.image-inner {
  padding: 6px 0 25px 0; }

.contents {
  width: 100%; }

p {
  Margin: 0; }

a {
  color: #1c3160;
  text-decoration: underline; }

.full-width-image img {
  width: 100%;
  max-width: 600px;
  height: auto; }

.preheader {
  font-family: Verdana, Arial, sans-serif;
  font-size: #1c3160;
  color: #ffffff;
  line-height: 1px;
  max-height: 0px;
  max-width: 0px;
  opacity: 0;
  overflow: hidden;
  display: none; }

.header {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10px;
  color: #666666;
  line-height: 16px;
  text-decoration: none;
  -webkit-text-size-adjust: none;
  padding: 5px 0 15px 0;
  margin: 0; }

.global-copy {
  font-family: Verdana, Arial, sans-serif;
  font-size: 13px;
  color: #1c3160;
  line-height: 18px;
  text-decoration: none;
  -webkit-text-size-adjust: none;
  /* Margin-bottom: $global-margin-bottom; */ }

.global-copy.heading {
  font-weight: 600; }

.hero {
  font-family: Verdana, Arial, sans-serif;
  font-size: 30px;
  color: #ffffff;
  font-weight: 600;
  line-height: 34px;
  /* Margin-bottom: $h1-margin-bottom; */ }

.secondary {
  font-family: Verdana, Arial, sans-serif;
  font-size: 27px;
  font-weight: 600;
  color: #1c3160;
  line-height: 28px;
  /* Margin-bottom: $h2-margin-bottom; */ }

.tertiary {
  font-family: Verdana, Arial, sans-serif;
  font-size: 21px;
  font-weight: 600;
  color: #1c3160;
  line-height: 24px;
  /* Margin-bottom: $h3-margin-bottom; */ }

.activate,
.register,
.app,
.directdebit {
  font-family: Verdana, Arial, sans-serif;
  font-size: 19px;
  color: #1c3160;
  font-weight: 600;
  line-height: 22px;
  /* Margin-bottom: $h4-margin-bottom; */ }

.footer-container {
  padding: 18px 35px 0px 35px;
  background-color: #f3f3f3; }

.footer {
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
  color: #1c3160;
  line-height: 15px;
  padding: 5px 0 15px 0;
  /* Margin-bottom: $footer-margin-bottom; */ }

/* button cta  */
.button {
  font-family: Verdana, Arial, sans-serif;
  font-size: 14px;
  color: #ffffff;
  background: #ca445c;
  line-height: 14px;
  padding: 0px 40px 0; }

.button a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none; }

/* One column layout */
/* Two column layout */
.two-column {
  text-align: center;
  font-size: 0; }

.two-column .column {
  width: 100%;
  max-width: 300px;
  display: inline-block;
  vertical-align: top; }

.two-column .contents {
  text-align: left; }

.two-column .default img {
  width: 100%;
  max-width: 280px;
  height: auto; }

.two-column .text {
  padding-top: 10px; }

/* Three column layout*/
.three-column {
  text-align: center;
  font-size: 0;
  padding-top: 10px;
  padding-bottom: 10px; }

.three-column .column {
  width: 100%;
  max-width: 200px;
  display: inline-block;
  vertical-align: top; }

.three-column img {
  width: 100%;
  max-width: 180px;
  height: auto; }

.three-column .contents {
  font-size: 14px;
  text-align: center; }

.three-column .text {
  padding-top: 10px; }

/* Left sidebar layout */
.left-sidebar {
  text-align: center;
  font-size: 0; }

.left-sidebar .column {
  width: 100%;
  display: inline-block;
  vertical-align: middle; }

.left-sidebar .left {
  max-width: 100px; }

.left-sidebar .right {
  max-width: 500px; }

.left-sidebar .img {
  width: 100%;
  max-width: 80px;
  height: auto; }

.left-sidebar .contents {
  font-size: 14px;
  text-align: center; }

.left-sidebar a {
  color: #85ab70; }

/* Right sidebar layout  */
.right-sidebar {
  text-align: center;
  font-size: 0; }

.right-sidebar .column {
  width: 100%;
  display: inline-block;
  vertical-align: middle; }

.right-sidebar .left {
  max-width: 100px; }

.right-sidebar .right {
  max-width: 500px; }

.right-sidebar .img {
  width: 100%;
  max-width: 80px;
  height: auto; }

.right-sidebar .contents {
  font-size: 14px;
  text-align: center; }

.right-sidebar a {
  color: #70bbd9; }
